<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>GigStart Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="styles/main.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
     <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; ">
      <tr>
        <td align="center" bgcolor="#9F6CD1" style="padding: 40px 0 30px 0; color: #FFFFFF; font-family: Montserrat, sans-serif; font-size: 40px;">
        <b>Hello, Fan...</b>
        <img src="https://pixabay.com/static/uploads/photo/2015/01/19/16/50/concert-604215_960_720.jpg" alt="GigStart: Give Your Show A GigStart" width="500" height="300" style="display: block;" />
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
             <td style="color: #0A0A0B; font-family: Montserrat, sans-serif; font-size: 24px;">
              <b>Congratulations!</b>
             </td>
            </tr>
            <tr>
             <td style="padding: 20px 0 30px 0; color: #0A0A0B; font-family: Montserrat, sans-serif; font-size: 16px; line-height: 20px;">
              Because of your loyal support, <%= @band.name %> reached their funding goal for their concert in <%= @location %> on <%= @date %>. They heard you were coming to the show, and they can't wait to play for you!
             </td>
            </tr>
            <tr>
             <td>
               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 <td width="260" valign="top">
                   <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td>
                       <img src="https://pixabay.com/static/uploads/photo/2014/07/31/23/04/smartphone-407108_960_720.jpg" alt="" width="100%" height="140" style="display: block;" />
                      </td>
                     </tr>
                     <tr>
                      <td style="padding: 25px 0 0 0; color: #0A0A0B; font-family: Montserrat, sans-serif; font-size: 16px; line-height: 20px;">
                       What happens next? Your credit card will be officially charged for the concert tickets within the next 24 hours. Within a week, you will hear from us again regarding concert location and start time for the show.
                      </td>
                     </tr>
                  </table>
                 </td>
                 <td bgcolor: "#F2F2F2;" style="font-size: 0; line-height: 0; " width="20">
                  &nbsp;
                 </td>
                 <td width="260" valign="top">
                   <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                      <td>
                       <img src="https://pixabay.com/static/uploads/photo/2015/07/20/10/11/concert-852575_960_720.jpg" alt="" width="100%" height="140" style="display: block;" />
                      </td>
                     </tr>
                     <tr>
                      <td style="padding: 25px 0 0 0; color: #0A0A0B; font-family: Montserrat, sans-serif; font-size: 16px; line-height: 20px;">
                       Meanwhile, we encourage you to invite even more friends to the show so you have an unforgettable concert experience. As soon as concert details are confirmed, you will receive a printable ticket as a PDF to your email.
                      </td>
                     </tr>
                  </table>
                 </td>
                </tr>
               </table>
             </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#C8AFE1" style="padding: 30px 30px 30px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
           <tr>
            <td width="75%" style="color: #9F6CD1; font-family: Montserrat, sans-serif; font-size: 14px; ">
              &reg; GigStart, 2015<br/>
              Unsubscribe to this update.
            </td>
            <td align="right">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                 <td>
                  <a href="http://hamblok0.github.io/concert_kickstarter" style="text-decoration: none; color: #9F6CD1">
                    <i class="fa fa-ticket" width="38" height="38" style="display: block; color: 9F6CD1; font-size: 2em" border="0"></i>
                  </a>
                 </td>
                 <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                 <td>
                  <a href="http://hamblok0.github.io/concert_kickstarter" style="text-decoration: none; color: #9F6CD1">
                    <i class="fa fa-headphones" width="38" height="38" style="display: block; color: 9F6CD1; font-size: 2em" border="0"></i>
                  </a>
                 </td>
                </tr>
               </table>
            </td>
           </tr>
         </table>
        </td>
      </tr>
    </table>
   </td>
  </tr>
 </table>
</body>
</html>