<p>Hi, <%= @current_user.name %></p>
<p>this is email is to thank you for your vote! The <%= @concert %> for <%= @band %> is happening thanks to your pledge! You can purchase tickets here link_to URL</p>