<html>

   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>

   <body>
      <h1>Welcome to Gigster, <%= @user.email %></h1>

      <p>
         You are receiving this email to inform you that  <%= #concert_id someone voted for %> didn't
         recieve enough votes, so it won't be happening.<br>
      </p>

      <p>
         Thanks for voting and keep voting! 
      </p>

      <p>Thanks for voting and have a great day!</p>

   </body>
</html>
